$base-color: black;

* {
    margin: 0;
    padding: 0;
}

nav {
    background: lighten($base-color, 10%);
    clear: both;
    width: 960px;
    margin: 0 auto;

    ul {
        display: inline-block;
        position: relative;
        list-style-type: none;
        color: lighten($base-color,95%);


        li {
            display: inline-block;
            padding: 1em;

            ul {
                display: block;
                position: absolute;
                width: 960px;
                left: 0;

                li {
                    display: none;
                    background: $base-color;

                    div {
                        clear: both;
                        ul {
                            position: relative;
                            width:100%;

                            li.second {
                                
                                display: inline-block;
                                width:5em;
                                padding:0;
                                clear:both;
                                ul {
                                    display: block;
                                    position: absolute;
                                    top:0;
                                    right:-5em;
                                    li {
                                        position:absolute;
                                        display: none;
                                        background-color:red;
                                    }
                                }

                                &:hover {
                                    color: lighten($base-color,90%);
                                    ul { margin-top:1em;
                                        li {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:hover {
                background: $base-color;

                ul {
                    margin-top: 1em;


                    li {
                        display: block;
                    }
                }
            }
        }
    }
}
